<!DOCTYPE html>
<!-- booking/admin_view_bookings.html -->
{% extends 'booking/base.html' %}

<body>
  {% block content %}
  <h1>All Bookings</h1>
  {% if bookings %}
  <table id="customers">
    <thead>
      <tr>
        <th>User</th>
        <th>Passenger username</th>
        <th>Flight number</th>
        <th>Seat Number</th>
        <th>Booking Date</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
      <tr>
        <td>{{ booking.userid }}</td>
        <td>{{ booking.username }}</td>
        <td>{{ booking.flight }}</td>
        <td>{{ booking.seat_number }}</td>
        <td>{{ booking.booking_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No bookings found.</p>
  {% endif %}
  {% endblock %}

</body>