<!DOCTYPE html>
{% extends 'booking/base.html' %}

{% block content %}
<body>
  <h2>Login</h2>
  <h6>Single login platform for admin and user</h6>
  <h6>Login as admin and get admin controls.</h6>
  <h6>Login as user to book your flights.</h6>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark">Login</button>
  </form>
  <p>Don't have an account? 
    <button type="button" class="btn btn-secondary">
      <a href="{% url 'ftb:user_register' %}" style="color: black;">Register here.</a>
    </button>
  </p>
{% endblock %}

</body>
  